<div>
  <h1>
    Hola {{name}} {{surname}} ! que gusto verte.<br> 
    para tener
    {{age}}
    años estas muy bien. <br> 
    si tu correo es
    {{email}}
    te contactaremos pronto. <br>
    tambien te podemos llamar al
    {{phone}}.
  </h1>
</div>